.l-main-section
    h2 Conseguir ayuda al utilizar Angular

    p.
        Tenemos una increible comunidad de desarrolladores que tiene pasión por resolver problemas.
        Recomendamos usar uno de los métodos siguientes para conseguir ayuda con Angular.


    .l-sub-section
        h3 Grupo Angular en Google

        ol
            li.
                En primer lugar busca en el archivo.
                Es muy probable que tu pregunta ya haya sido respondida.
            li.
                Para evitar el spam de la cola de moderación,
                evita poner código directamente en tu email. (Ver #3)
            li.
                Incluye un enlace a un ejemplo de código funcional que demuestre tu problema o pregunta,
                y de esa manera conseguirás una respuesta más rápido.
                <a href="http://plnkr.co/edit/jISF8yxbVGmarpBbqsYW?p=preview">Utiliza esta plantilla</a>.
            li.
                Si consigues ayuda, procura ayudar a otros. ¡Bien por el buen karma!

        a(href="https://groups.google.com/forum/#!forum/angular" class="button button-primary" md-button) Ver el grupo de Google

    .l-sub-section
        h3 Angular Chat Room

        p Habla en tiempo real con otros desarrolladores Angular en Slack.

        a(href="http://dartlang-slack.herokuapp.com/" class="button button-primary" md-button) Únete Dart en Slack

        a(href="https://dartlang.slack.com/messages/angular2/" class="button button-primary" md-button) Ve al canal Angular


    .l-sub-section
        h3 Reporta problemas

        p Si te encuentras con algún problema o quieres solicitar alguna funcionalidad, puedes crear un nuevo issue en nuestro repositorio de GitHub.

        a(href="https://github.com/angular/angular/issues" class="button button-primary" md-button) Reportar un problema
