.l-main-section
  h2 Angular Projects
  h2 Proyectos de Angular

  p We'd love for you to contribute to our source code and to make Angular projects even better.
  p Nos encantaría que contribuya a nuestro código fuente y hacer hacer los proyectos de Angular aún mejores.

  .l-sub-section
    h3 Angular 2

    p Angular 2 is a next generation mobile and desktop application development platform.
    p Angular 2 es una plataforma de nueva generación para desarrollar aplicaciones móviles y web.

    a(href="https://github.com/angular/angular/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuye a Angular 2

  .l-sub-section
    h3 Angular-Es

    p Angular-es es el website con la documentación e información acerca de Angular 2 en español.

    a(href="https://github.com/angular/angular-es" class="button" md-button) Contribuye a Angular-Es


  .l-sub-section
    h3 Angular for JavaScript or Dart
    h3 Angualr para Javascript o Dart

    p Angular is a development platform for building mobile and desktop applications.
    p Angular es una plataforma de desarrollo para aplicaciones móviles y web.

    a(href="https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuye to Angular para JavaScript

    a(href="https://github.com/angular/angular.dart/blob/master/CONTRIBUTING.md" class="button" md-button) Contribuye a Angular para DART

  .l-sub-section
    h3 Angular Material

    p Our goal is to deliver a lean, lightweight set of Angular-based UI elements that implement the material design specification for use in Angular single-page applications (SPAs).
    p Tiene como objectivo ser una serie de elementos UI, livianos, para Angular, que implmentan la especificación de diseño material para usar en aplicaciones web de Angular (SPAs).

    a(href="https://github.com/angular/material/blob/master/.github/CONTRIBUTING.md" class="button" md-button) Contribuye a Angular Material

  .l-sub-section
    h3 AngularFire

    p AngularFire is the officially supported Angular binding for Firebase. Firebase is a full backend so you don't need servers to build your Angular app.
    p AngularFire es la librería con soporte oficial para usar Angular con Firebase. Firebase es un servicio de backend que te permite escribir aplicaciones de Angular sin tener que mantener tus servidores.

    a(href="https://github.com/firebase/angularFire" class="button" md-button) Contribuye a AngularFire
