include _includes/_util-fns

div(class="home-rows")
  // Group 1
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-1")
      div
        img(src="resources/images/home/responsive-framework.svg")
    div(class="text-container")
      div(class="text-block promo-1-desc l-pad-top-2")
        h3(class="text-headline") Develop Across All Platforms
        h3(class="text-headline") Desarrolla Para Todas Las Plataformas
        p(class="text-body").
          Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
        p(class="text-body").
          Aprende una manera de crear aplicaciones con Angular y reutilizar tu código y habilidades para construir aplicaciones
          para desplegar en cualquier objetivo. Para la web, web movil, aplicaciones nativas y aplicaciones de escritorio. 

  // Group 2
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block")
        h3(class="text-headline") Speed & Performance
        h3(class="text-headline") Velocidad y Desempeño
        p(class="text-body").
          Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side rendering.
        p(class="text-body").
          Alcanza la velocidad máxima en la web hoy mismo, y llévala más allá, usando Web Workers y renderizado en el servidor
        br
        p(class="text-body").
          Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS, Immutable.js or another push-model.
        p(class="text-body").
          Angular te pone en control sobre la escalabilidad. Alcanza requerimientos con datos gigantes creando tus modelos
          en RxJS, Immutable.js u otros push-model.
    div(class="promo-img-container promo-2")
      div
        img(src="resources/images/home/speed-performance.svg")

  // Group 3
  div(layout="row" layout-xs="column" class="home-row")
    div(class="promo-img-container promo-3")
      div
        img(src="resources/images/home/joyful-development.png")
    div(class="text-container")
      div(class="text-block promo-3-desc")
        h3(class="text-headline") Incredible Tooling
        h3(class="text-headline") Herramientas Increíbles
        p(class="text-body").
          Build features quickly with simple, declarative templates. Extend the template language with your own components and use a wide array of existing components.  Get immediate Angular-specific help and feedback with nearly every IDE and editor.  All this comes together so you can focus on building amazing apps rather than trying to make the code work.
        p(class="text-body").
          Añade características rápidamente con plantillas simples y declarativas. Extiende las plantillas con tus propios
          componentes o escoge de una gran variedad de componentes existentes.
          Recibe ayuda especifica para Angular con casi cualquier IDE y editor.
          Todo eso para que puedas concentrarte en construir aplicaciones maravillosas en vez de gastar tiempo asegurandote que tu código funcione.

  // Group 4
  div(layout="row" layout-xs="column" class="home-row")
    div(class="text-container")
      div(class="text-block l-pad-top-2")
        h3(class="text-headline") Loved by Millions
        h3(class="text-headline") Amado por Millones
        p(class="text-body").
          From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports Google's largest applications.
        p(class="text-body").
          De prototipos a despliegues globales, Angular entrega la productividad e infraestructura escalable que
          soporta las aplicaciones más grandes de Google.
    div(class="promo-img-container promo-4")
      div
        img(src="resources/images/home/loved-by-millions.png")
        
  .cta-bar
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) Get Started
    a(href="/docs/ts/latest/quickstart.html" class="button button-large button-shield md-raised " + "md-primary" md-button) Comienza Ahora

